h1{
  color: black;
}
#icons{
  font-size: 1.2em;
  display: flex;
  gap: 10px;
}
#main-projects {
  color: rgb(46, 45, 45);
  width: 100%;
  height: 20rem;
  white-space: nowrap;
  /* border: 1px solid black; */
  margin: auto; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
#tema:hover{
  cursor: pointer;
}

#proactivity:hover{
  transition:  background-color 2s ease ;
}